/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: #202124;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: initial;
  line-height: 1.25;
}
h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: normal;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: #202124;
}

/* Styles */

.containerPokemon {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 10px;
}

#container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  padding: 50px 50px 25px 50px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 5px;
  min-height: 800px;
}

button {
  padding: 10px 16px;
  border-radius: 10px;
  border: 2px solid #202124;
  font-size: 1rem;
  font-weight: 700;
  background-color: #fff;
  margin: 0 5px;
}
button:enabled:hover {
  cursor: pointer;
  background-color: #bfbfbf;
}

body {
  text-align: center;
}

/* Pokemon card */

.itemPokemon {
  flex-basis: calc(33% - 10px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #f2f2f2;
  height: 100px;
  min-width: 293.5px;
}
.itemPokemon h3 {
  margin: 0 auto;
}

.idPokemon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 600;
  color: black;
}

.imgPokemon {
  background: #f2f2f2;
  border-radius: 5%;
}

.containerPokemonData {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: center;
  height: 100%;
  position: relative;
}

.containerTypePokemon {
  margin-top: 5px;
}

.containerTypePokemon span:first-child {
  margin-right: 5px;
}

.typePokemon {
  flex-basis: 50%;
  display: inline-block;
  padding: 2px 15px;
  border-radius: 5px;
}

@media (min-width: 1250px) {
  .idPokemon {
    position: absolute;
    top: 12px;
    left: 30px;
    font-weight: 600;
    color: black;
  }
}

/* TypeStyles */

.grass {
  background-color: #7bce52;
}
.poison {
  background-color: #b55aa5;
}
.bug {
  background-color: #adbd21;
}
.dragon {
  background-color: #715fc2;
  color: #fff;
}
.fairy {
  background-color: #f7b5f7;
}
.fire {
  background-color: #f75231;
  color: #fff;
}
.ghost {
  background-color: #6363b5;
  color: #fff;
}
.ground {
  background-color: #b59c58;
}
.normal {
  background-color: #7f7b73;
  color: #fff;
}
.psychic {
  background-color: #ff73a5;
}
.steel {
  background-color: #adadc6;
}
.dark {
  background-color: #63564e;
  color: #fff;
}
.electric {
  background-color: #ffc631;
}
.fighting {
  background-color: #a55239;
  color: #fff;
}
.flying {
  background-color: #a0b0f5;
}
.ice {
  background-color: #5acee7;
}
.rock {
  background-color: #bda55a;
}
.water {
  background-color: #399cff;
}

/* TypeStyles ending*/

/* Footer */
footer {
  background: #1f1f1f;
  padding: 30px 60px;
}

footer h3 {
  color: #fff;
}
