/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: pokemonFont;
  src: url(./fonts/Pokemon\ Solid.ttf);
}

h1 {
  font-family: pokemonFont, Arial, Helvetica, sans-serif;
  color: #ffcb05;
  -webkit-text-stroke: 1px #3466af;
  text-shadow: 2px 2px 2px #000000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e73221;
  color: #202124;
  line-height: 1.5;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: initial;
  line-height: 1.25;
}
h1 {
  font-size: 3.75rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
  font-weight: normal;
}
h4 {
  font-size: 1rem;
}
p {
  margin-bottom: 1.25rem;
  color: #202124;
}

/* Styles */
header {
  padding-top: 18px;
}
.containerPokemon {
  /* min-width: 400px; */
  max-width: 1650px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 50px 5px 50px;
  display: flex;
  flex-direction: column;
}
.containerFilters {
  display: flex;
  justify-content: space-between;
}

.containerSearch label {
  font-weight: bold;
  font-size: 20px;
}

.containerSearch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#inputSearch {
  font-size: 16px;
  padding: 0.25rem 0.5rem;
  width: 100%;
}

#pokemonOrder {
  background-color: #313131;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  align-self: flex-end;
  font-size: 1.25rem;
}

#pokemonOrder:hover {
  cursor: pointer;
}

#pokemonOrder option {
  background-color: #616161;
}
#pokemonOrder option {
  background-color: #616161;
  cursor: pointer;
}

#container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  padding: 100px 50px;
  margin: 0 auto;
  margin-top: 20px;
  flex-wrap: wrap;
  min-height: 800px;
  gap: 50px;
  background: #c2d6ed;
  box-shadow: 0 0 2em #c2d6ed;
  border-radius: 20px;
}

.no-results {
  display: none;
  width: 100%;
}

.no-results h3 {
  color: #a1291b;
  font-weight: bold;
}

.no-results p {
  font-weight: bold;
}

@media (max-width: 650px) {
  .containerPokemon {
    padding: 20px 25px;
  }
  #container {
    padding: 50px 35px;
  }
}

@media (max-width: 550px) {
  .containerFilters {
    flex-direction: column;
    gap: 25px;
  }
}

@media (max-width: 470px) {
  .containerPokemon {
    min-width: 300px;
    padding: 20px 10px;
  }
  #container {
    padding: 40px 15px;
  }
}
/* Pagination styles */

.pagination {
  max-width: 450px;
  margin: 20px auto;
}

.pagination ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fff;
  padding: 8px;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.35);
}
.pagination ul li {
  color: black;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination ul li.numb {
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 50%;
}
.pagination ul li.numb.first {
  margin: 0px 3px 0 -5px;
}
.pagination ul li.numb.last {
  margin: 0px -5px 0 3px;
}
.pagination ul li.dots {
  font-size: 22px;
  cursor: default;
}
.pagination ul li.btn {
  padding: 0 20px;
  border-radius: 50px;
}
.pagination li.active {
  cursor: default;
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
  color: #ffcb05;
  background: #3466af;
}

@media (max-width: 470px) {
  .pagination ul {
    align-items: center;
  }
  .pagination ul li {
    font-size: 16px;
    line-height: 25px;
  }
  .pagination ul li.numb {
    height: 25px;
    width: 25px;
    line-height: 25px;
  }
}
@media (min-width: 385px) and (max-width: 470px) {
  .pagination ul li {
    font-size: 16px;
    line-height: 30px;
  }
  .pagination ul li.numb {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
}
@media (max-width: 360px) {
  .pagination ul li.btn.prev {
    padding: 0 10px 0 0;
  }
  .pagination ul li.btn.next {
    padding: 0 0 0 10px;
  }
}
/* End of Pagination styles */

/* Pokemon card */

.itemPokemon {
  flex-basis: calc(33% - 10px);
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #f2f2f2;
  height: 130px;
  min-width: 350px;
  max-width: 430px;
  box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 6px;
  background: #f2f2f2;
}
.itemPokemon h3 {
  margin: 0 auto;
}

.idPokemon {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 600;
  color: black;
  height: 25px;
  width: 38px;
  background-color: #f2f2f2;
  border-bottom-right-radius: 45%;
}

.imgContainer {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 120px;
  height: 100%;
  background: #f2f2f2;
}

.containerPokemonData {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.containerTypePokemon {
  margin-top: 10px;
}

.containerTypePokemon span:first-child {
  margin-right: 10px;
}

.typePokemon {
  flex-basis: 50%;
  display: inline-block;
  padding: 2px 15px;
  border-radius: 5px;
}

@media (max-width: 400px) {
  .itemPokemon {
    min-width: 250px;
  }
  #container h3 {
    font-size: 1.25rem;
    margin-top: 20px;
  }
  .typePokemon {
    font-size: 0.875rem;
  }
  .containerTypePokemon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .containerTypePokemon span:first-child {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

/* TypeStyles */

.grass.typePokemon {
  background-color: #7bce52;
}
.poison.typePokemon {
  background-color: #b55aa5;
}
.bug.typePokemon {
  background-color: #adbd21;
}
.dragon.typePokemon {
  background-color: #715fc2;
  color: #fff;
}
.fairy.typePokemon {
  background-color: #f7b5f7;
}
.fire.typePokemon {
  background-color: #f75231;
  color: #fff;
}
.ghost.typePokemon {
  background-color: #6363b5;
  color: #fff;
}
.ground.typePokemon {
  background-color: #b59c58;
}
.normal.typePokemon {
  background-color: #7f7b73;
  color: #fff;
}
.psychic.typePokemon {
  background-color: #ff73a5;
}
.steel.typePokemon {
  background-color: #adadc6;
}
.dark.typePokemon {
  background-color: #63564e;
  color: #fff;
}
.electric.typePokemon {
  background-color: #ffc631;
}
.fighting.typePokemon {
  background-color: #a55239;
  color: #fff;
}
.flying.typePokemon {
  background-color: #a0b0f5;
}
.ice.typePokemon {
  background-color: #5acee7;
}
.rock.typePokemon {
  background-color: #bda55a;
}
.water.typePokemon {
  background-color: #399cff;
}

/* TypeStyles end*/

/* Skeleton styles */

.itemPokemon.loading {
  background-color: #f2f2f2;
}

.imgContainer.loading::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.namePokemon.loading {
  margin-top: 10px;
  height: 25px;
  width: 175px;
  border-radius: 10px;
}
.containerTypePokemon.loading {
  text-align: center;
  height: 25px;
  width: 175px;
  border-radius: 10px;
}

.imgContainer.loading::before,
.containerTypePokemon.loading,
.namePokemon.loading,
.idPokemon.loading {
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: skeleton 2s infinite;
}

@keyframes skeleton {
  100% {
    background-position: -100% 0;
  }
}
/* Skeleton Loading styles end */

/* Footer */
footer {
  margin-top: auto;
  background: #1f1f1f;
  padding: 30px 60px;
}

footer h3 {
  color: #fff;
}
/* DropDown styles */
.custom-select-container,
.custom-select-value,
.custom-select-options,
.custom-select-option {
  box-sizing: border-box;
}

.custom-select-container {
  background-color: #5c5c5c;
  color: #fff;
  align-self: flex-end;
  display: inline-block;
  position: relative;
}

.custom-select-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  border: 1px solid black;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  user-select: none;
}

.custom-select-container:focus > .custom-select-value {
  border-width: 2px;
  outline: none;
}

.custom-select-value::after {
  content: "";
  display: inline-block;
  border: 4px solid transparent;
  border-top-color: black;
  margin-left: 12px;
  margin-top: 4px;
}

.custom-select-options {
  z-index: 100;
  background: #5c5c5c;
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  border: 2px solid black;
  width: 100%;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
}

.custom-select-options.show {
  display: block;
}

.custom-select-option {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.custom-select-option:hover {
  background-color: hsl(200, 100%, 70%);
}

.custom-select-option.selected {
  background-color: hsl(200, 100%, 50%);
}

@media (max-width: 550px) {
  .custom-select-container {
    align-self: stretch;
  }
  .custom-select-value {
    width: 100%;
  }
}
/*  */
